#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

thead{
  td{
    padding: 10px 0;
  }
}

/* just to hide scrollbar */
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}